{# tabla básica #}
<table id="base_table" class="table table-striped">
  <thead>
    <th><input type="checkbox"></th>
    {% for t in titles %}
    <th>
      {{ t }}
    </th>
    {% endfor %}
  </thead>
  <tbody>
    {% for key, data in rows.items %}
    <tr>
      <td><input type="checkbox"></td>
      {% for cell in data %}
      <td>
        {{ cell }}
      </td>
      {% endfor %}
      <td id="context_options">
        <a href="/databases/backup?db_id={{key}}"><span class="glyphicon glyphicon-hdd"></span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
