{% extends 'admin.html' %}

{% block content %}
<form>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <h1></h1>
        <label for="db_name">Nombre</label>
        <input type="text" class="form-control" id="db_name" placeholder="Nombre de la base de datos">
      </div>
      <label>Eliga un motor de base de datos</label>
      <div class="list-group">
        <a href="#" class="list-group-item">SQLite</a>
        <a href="#" class="list-group-item">MySQL / MaríaDB</a>
        <a href="#" class="list-group-item">PostgreSQL</a>
        <a href="#" class="list-group-item">MongoDB</a>
      </div>
      <div class="form-group">
        <label for="db_host">Host</label>
        <input type="text" class="form-control" id="db_host" placeholder="Dirección IP del servidor de la base de datos.">
      </div>
      <div class="form-group">
        <label for="db_port">Puerto</label>
        <input type="text" class="form-control" id="db_port" placeholder="Puerto del servidor de la base de datos.">
      </div>
      <div class="form-group">
        <label for="db_pass">Contraseña</label>
        <input type="password" class="form-control" id="db_pass" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Últimas creaciones</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>seafile (192.168.1.150)</li>
            <li>gogs (melobox.ddns.net:8790)</li>
            <li>gitlab (melobox.ddns.net:8555)</li>
            <li>backupper (localhost)</li>
          </ul>
        </div>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Notificaciones</h3>
          </div>
          <div class="panel-body">
              No hay notificaciones en este momento.
          </div>
        </div>
    </div>
  </div>
</form>
{% endblock %}
